---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="mehr">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Wir bauen <strong>digitale</strong> Infrastruktur</h2>
			<p class="pb-0 text-lg">
				Während analoge <strong>Infrastrukturen</strong> selbstverständlich für uns alle sind, mangelt es im digitalen Raum an offenen, sicheren und unabhängigen Angeboten. 
				<br></br>Wir packen es selbst an – für ein <strong>selbstbestimmtes</strong> und faires <strong>digitales</strong> Miteinander.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Sichere & verschlüsselte Chats"
				subtitle="Anstatt auf große Plattformen wie WhatsApp oder Telegram zu setzen, bei denen unklar ist, was mit den Daten passiert, bieten wir unseren eigenen Matrix-Chat-Server an. Alternativ kannst du auch Signal nutzen – eine sichere und datenschutzfreundliche Option, die weltweit immer mehr Nutzer überzeugt."
				image={feature01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Unkommerzielle & Dezentrale Netzwerke"
				subtitle="Anstelle von politisch beeinflussten und kommerziellen, unsozialen Netzwerken, wollen wir soziale, dezentrale und unkommerzielle Netzwerke wie Mastodon in den Mittelpunkt rücken."
				image={feature02}
				link="/features"
			/>
			<Card
				title="Sicher Dateien teilen"
				subtitle="Der Datentransfer zwischen Geräten ist essentielle Infrastruktur des Internets, die am besten von bekannten und vertrauenswürdigen Händen verwaltet wird. Wir bieten datenschutzfreundliche Alternativen zu Diensten wie Wetranfer und Co."
				image={feature04}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Media Hosting"
				subtitle="Unabhängiges und zensurfreies Media-Hosting sollte auch jede Stadt ihren Anwohnerinnen und Anwohnern als öffentlich nutzbaren Dienst anbieten können." 
				image={feature03}
				link="/features"
			/>
			<Card
				title="Verschlüsselter Datenverkehr"
				subtitle="Ein VPN sollte stets zur Verfügung stehen, um den Privatsphärenschutz zu gewährleisten. Jeder hat das Recht, seinen Datentransfer zu verschlüsseln. "
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
